{% extends 'mailing/base.html' %}
{% block content %}
{% include 'mailing/includes/mailing_menu.html' %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{ object.name }}</h1>
    </div>

    <div class="container">
        <div class = "col-12 mb-5">
            <a href="{% url 'mailing:mailing_list' %}" class="btn btn-primary">Назад</a>
            <a href="{% url 'mailing:update_mailing' object.pk %}" class="btn btn-primary">Редактировать</a>
            <a href="{% url 'mailing:delete_mailing' object.pk %}" class="btn btn-primary">Удалить</a>
        </div>


        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <td class="w-25">Id</td>
                        <td>{{ object.pk }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">Название</td>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">Начало рассылки</td>
                        <td>{{ object.time_from }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">Окончание рассылки</td>
                        <td>{{ object.time_to }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">День недели</td>
                        <td>{{ object.week_day }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">Описание</td>
                        <td>{{ object.description }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">Сообщение</td>
                        <td>{{ object.message.message }}</td>
                    </tr>
                    <tr>
                        <td class="w-25">Активна</td>
                        <td>{{ object.is_active }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h5 class="display-5">Список клиентов, участвующих в рассылке</h5>
        </div>


        <div class = "col-12 mb-5">
            <a href="{% url 'mailing:redact_mailing_clients' object.pk %}" class="btn btn-primary">Редактировать</a>

        </div>



            <div class="card">
              <div class="card-body">
                <table class="table table-striped">
                  <tr>
                    <th>ID</th>
                    <th>Имя</th>
                    <th>email</th>
                  </tr>
                  {% for letter in object.mailinglist_set.all %}
                      <tr>
                        <td>{{ letter.pk }}</td>
                        <td>{{ letter.client.name }}</td>
                        <td>{{ letter.client.mail }}</td>
                      </tr>
                  {% endfor %}
                </table>
              </div>
            </div>



    </div>


{% endblock %}